<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <%= render "layouts/loading" %>

  <div class="parallax" style="display:none;">
      <%= render "layouts/spaceGroup" %>
    
  </div>


</body>
</html>






