<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <div id="loading">
    <div class="loadingTitle">
      <p><h1> Welcome To This Webpage </h1></p>
      <p class="loading"> Loading... (this may take a couple seconds) </p>
      <p><button class="showPage" style="display:none;" height="40px" width="70px">Show Page</button></p>
    </div>
    <div class="spaceBar">
      <h2><p class="spaceName"><b>Space</b></p></h2>
      <h3><p class="firstInstructions">Press Spacebar to autoscroll animation<p></h3>
      <img src="/assets/spaceBar.png"  height="75px" width="375px">
      <h3><p class="secondInstructions">Press again to pause animation<p></h3>

    </div>
  </div>

  <div class="parallax" style="display:none;">
    <div id="groupSpace" class="parallax_space_group">
      
      <div class="parallax__layer topTitle parallax__layer-space-logo" style="display:none;">
        <div class="title"><p><img id="amazingPlanetGif" src="/assets/amazingPlanetTransparent.gif" height="300px" width="500px"></p></div>
      </div>
      <div class="parallax__layer topTitle parallax__layer-space-fore">
       <div class="subtitle">From Top To Bottom</div>
      </div>
      <div class="parallax__layer earthGif parallax__layer-space-back">
        <div class="title"><img class="earthGifLoad" src="/assets/earthTransparent.gif" height="500px" width="500px"></div>
      </div>
      <div class="parallax__layer mars parallax__layer-space-behind">
 
        <img class="marsImage" src="/assets/mars.png" height="100" width="100">
      </div>
      <div class="parallax__layer parallax__layer-space-saturn">
        <div class="title"></div>
        <img class="saturnImage" src="/assets/saturn.png" height="50" width="75">
      </div>

      <div class="parallax__layer starsClose1 parallax__layer-space-starsClose">
        <img id="starClose1" class="sizeBig" src="/assets/star.png" >
        <img id="starClose2" class="sizeBig" src="/assets/star.png" >
        <img id="starClose3" class="sizeBig" src="/assets/star.png" >
        <img id="starClose4" class="sizeBig" src="/assets/star.png" >
        <img id="starClose5" class="sizeBig" src="/assets/star.png" >
        <img id="starClose6" class="sizeBig" src="/assets/star.png" >
        <img id="starClose7" class="sizeBig" src="/assets/star.png" >
        <img id="starClose8" class="sizeBig" src="/assets/star.png" >
        <img id="starClose9" class="sizeBig"src="/assets/star.png" >
        <img id="starClose10" class="sizeBig" src="/assets/star.png" >
        <img id="starClose11" class="sizeBig" src="/assets/star.png" >
        <img id="starClose12" class="sizeBig" src="/assets/star.png" >
        <img id="starClose13" class="sizeBig" src="/assets/star.png" >
        <img id="starClose14" class="sizeBig" src="/assets/star.png" >
        <img id="starClose15" class="sizeBig" src="/assets/star.png" >
        <img id="starClose16" class="sizeBig" src="/assets/star.png" >
        <img id="starClose17" class="sizeBig" src="/assets/star.png" >
      </div>

      <div class="parallax__layer starsClose2 parallax__layer-space-starsClose">
        <img id="starClose1" class="sizeBig" src="/assets/star.png" >
        <img id="starClose2" class="sizeBig" src="/assets/star.png" >
        <img id="starClose3" class="sizeBig" src="/assets/star.png" >
        <img id="starClose4" class="sizeBig" src="/assets/star.png" >
        <img id="starClose5" class="sizeBig" src="/assets/star.png" >
        <img id="starClose6" class="sizeBig" src="/assets/star.png" >
        <img id="starClose7" class="sizeBig" src="/assets/star.png" >
        <img id="starClose8" class="sizeBig" src="/assets/star.png" >
        <img id="starClose9" class="sizeBig"src="/assets/star.png" >
        <img id="starClose10" class="sizeBig" src="/assets/star.png" >
        <img id="starClose11" class="sizeBig" src="/assets/star.png" >
        <img id="starClose12" class="sizeBig" src="/assets/star.png" >
        <img id="starClose13" class="sizeBig" src="/assets/star.png" >
        <img id="starClose14" class="sizeBig" src="/assets/star.png" >
        <img id="starClose15" class="sizeBig" src="/assets/star.png" >
        <img id="starClose16" class="sizeBig" src="/assets/star.png" >
        <img id="starClose17" class="sizeBig" src="/assets/star.png" >
      </div>
    
      <div class="parallax__layer parallax__layer-space-starsFar">
        <img id="starFar1" class="sizeSmall" src="/assets/star.png">
        <img id="starFar2" class="sizeSmall" src="/assets/star.png">
        <img id="starFar3" class="sizeSmall" src="/assets/star.png">
        <img id="starFar4" class="sizeSmall" src="/assets/star.png">
        <img id="starFar5" class="sizeSmall" src="/assets/star.png">
        <img id="starFar6" class="sizeSmall" src="/assets/star.png">
        <img id="starFar7" class="sizeSmall" src="/assets/star.png">
        <img id="starFar8" class="sizeSmall" src="/assets/star.png">
        <img id="starFar9" class="sizeSmall" src="/assets/star.png">
        <img id="starFar10" class="sizeSmall" src="/assets/star.png">
        <img id="starFar11" class="sizeSmall" src="/assets/star.png">
        <img id="starFar12" class="sizeSmall" src="/assets/star.png">
        <img id="starFar13" class="sizeSmall" src="/assets/star.png">
        <img id="starFar14" class="sizeSmall" src="/assets/star.png">
        <img id="starFar15" class="sizeSmall" src="/assets/star.png">
        <img id="starFar16" class="sizeSmall" src="/assets/star.png">
        <img id="starFar17" class="sizeSmall" src="/assets/star.png">
      </div>
    </div>


</body>
</html>






