<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <div id="loading">
    <div class="loadingTitle">
      <p><h1> Welcome To This Webpage </h1></p>
      <p class="loading"> Loading... (this may take a couple seconds) </p>
      <p><button class="showPage" style="display:none;" height="40px" width="70px">Show Page</button></p>
    </div>
    <div class="spaceBar">
      <h2><p class="spaceName"><b>Space</b></p></h2>
      <h3><p class="firstInstructions">Press Spacebar to autoscroll animation<p></h3>
      <img src="/assets/spaceBar.png"  height="75px" width="375px">
      <h3><p class="secondInstructions">Press again to pause animation<p></h3>

    </div>
  </div>

  <div class="parallax" style="display:none;">
    <div id="group1" class="parallax_space_group">
      
      <div class="parallax__layer topTitle parallax__layer-space-logo" style="display:none;">
        <div class="title"><p><img id="amazingPlanetGif" src="/assets/amazingPlanetTransparent.gif" height="300px" width="500px"></p></div>
      </div>
      <div class="parallax__layer topTitle parallax__layer-space-fore">
       <div class="subtitle">From Top To Bottom</div>
      </div>
      <div class="parallax__layer earthGif parallax__layer-space-back">
        <div class="title"><img class="earthGifLoad" src="/assets/earthTransparent.gif" height="500px" width="500px"></div>
      </div>
      <div class="parallax__layer mars parallax__layer-space-behind">
 
        <img class="marsImage" src="/assets/mars.png" height="100" width="100">
      </div>
      <div class="parallax__layer parallax__layer-space-saturn">
        <div class="title"></div>
        <img class="saturnImage" src="/assets/saturn.png" height="50" width="75">
      </div>

      <div class="parallax__layer starsClose1 parallax__layer-space-starsClose">
        <img id="starClose1" class="sizeBig" src="/assets/star.png" >
        <img id="starClose2" class="sizeBig" src="/assets/star.png" >
        <img id="starClose3" class="sizeBig" src="/assets/star.png" >
        <img id="starClose4" class="sizeBig" src="/assets/star.png" >
        <img id="starClose5" class="sizeBig" src="/assets/star.png" >
        <img id="starClose6" class="sizeBig" src="/assets/star.png" >
        <img id="starClose7" class="sizeBig" src="/assets/star.png" >
        <img id="starClose8" class="sizeBig" src="/assets/star.png" >
        <img id="starClose9" class="sizeBig"src="/assets/star.png" >
        <img id="starClose10" class="sizeBig" src="/assets/star.png" >
        <img id="starClose11" class="sizeBig" src="/assets/star.png" >
        <img id="starClose12" class="sizeBig" src="/assets/star.png" >
        <img id="starClose13" class="sizeBig" src="/assets/star.png" >
        <img id="starClose14" class="sizeBig" src="/assets/star.png" >
        <img id="starClose15" class="sizeBig" src="/assets/star.png" >
        <img id="starClose16" class="sizeBig" src="/assets/star.png" >
        <img id="starClose17" class="sizeBig" src="/assets/star.png" >
      </div>

      <div class="parallax__layer starsClose2 parallax__layer-space-starsClose">
        <img id="starClose1" class="sizeBig" src="/assets/star.png" >
        <img id="starClose2" class="sizeBig" src="/assets/star.png" >
        <img id="starClose3" class="sizeBig" src="/assets/star.png" >
        <img id="starClose4" class="sizeBig" src="/assets/star.png" >
        <img id="starClose5" class="sizeBig" src="/assets/star.png" >
        <img id="starClose6" class="sizeBig" src="/assets/star.png" >
        <img id="starClose7" class="sizeBig" src="/assets/star.png" >
        <img id="starClose8" class="sizeBig" src="/assets/star.png" >
        <img id="starClose9" class="sizeBig"src="/assets/star.png" >
        <img id="starClose10" class="sizeBig" src="/assets/star.png" >
        <img id="starClose11" class="sizeBig" src="/assets/star.png" >
        <img id="starClose12" class="sizeBig" src="/assets/star.png" >
        <img id="starClose13" class="sizeBig" src="/assets/star.png" >
        <img id="starClose14" class="sizeBig" src="/assets/star.png" >
        <img id="starClose15" class="sizeBig" src="/assets/star.png" >
        <img id="starClose16" class="sizeBig" src="/assets/star.png" >
        <img id="starClose17" class="sizeBig" src="/assets/star.png" >
      </div>
    
      <div class="parallax__layer parallax__layer-space-starsFar">
        <img id="starFar1" class="sizeSmall" src="/assets/star.png">
        <img id="starFar2" class="sizeSmall" src="/assets/star.png">
        <img id="starFar3" class="sizeSmall" src="/assets/star.png">
        <img id="starFar4" class="sizeSmall" src="/assets/star.png">
        <img id="starFar5" class="sizeSmall" src="/assets/star.png">
        <img id="starFar6" class="sizeSmall" src="/assets/star.png">
        <img id="starFar7" class="sizeSmall" src="/assets/star.png">
        <img id="starFar8" class="sizeSmall" src="/assets/star.png">
        <img id="starFar9" class="sizeSmall" src="/assets/star.png">
        <img id="starFar10" class="sizeSmall" src="/assets/star.png">
        <img id="starFar11" class="sizeSmall" src="/assets/star.png">
        <img id="starFar12" class="sizeSmall" src="/assets/star.png">
        <img id="starFar13" class="sizeSmall" src="/assets/star.png">
        <img id="starFar14" class="sizeSmall" src="/assets/star.png">
        <img id="starFar15" class="sizeSmall" src="/assets/star.png">
        <img id="starFar16" class="sizeSmall" src="/assets/star.png">
        <img id="starFar17" class="sizeSmall" src="/assets/star.png">
      </div>
    </div>


</body>
</html>




<style>
body{
  height: 100vh;
}
.scroll{
  position: fixed;
  top:0px;
}

.sizeSmall{
  width: 8px;
  height: 8px;
}
.sizeBig{
  width: 12px;
  height: 12px;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   background-color: #262222;
   z-index: 99;
   color: white;
   text-align: center;
}

  .spaceBar{
    position: relative;
    top: 200px; 

  }
  .spaceName{
    position: relative;
    top: 58px;
    color: black;
    right: 140px;
  }
  .loadingTitle{
    padding-top: 40px;
  }
  #loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }

  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }

  .parallax_space_group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
  }

  .parallax__layer-space-fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer-space-logo {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer-space-back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }
  .parallax__layer-space-behind {
    -webkit-transform: translateZ(-550px) scale(2);
    transform: translateZ(-550px) scale(2);
    z-index: 3;
  }

  .parallax__layer-space-saturn {
    -webkit-transform: translateZ(-2000px) scale(7);
    transform: translateZ(-2000px) scale(7);
    z-index: 2;
  }
  .parallax__layer-space-starsClose {
    -webkit-transform: translateZ(-3000px) scale(11);
    transform: translateZ(-3000px) scale(11);
   
    z-index: 2;
  }
  .parallax__layer-space-starsFar {
    -webkit-transform: translateZ(-5000px) scale(18);
    transf2rm: translateZ(-5000px) scale(18);
    z-index: 2;
  }


  /* demo styles
  --------------------------------------------- */

  #msg{
    height: 100vh;
    background-color: #262222;
    color: white;
  }
  .earthGif{
    position: relative;
    top: 1000px;
  }

  body, html {
    overflow: hidden;
  }


  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }



  /* style the groups
  --------------------------------------------- */

 #group1 .subtitle {
  position: relative;
  top: 200px;
  text-align: center;
 }

  #group1 {
    z-index: 5; /* slide under group 3 and 5 */
    padding-left: 0px;
    height: 2000px;
    color: white;
  }
  #group1 .parallax__layer-space-starsFar {
    background: #262222;
  }
  #group1 .topTitle{
    position: relative;
    top: 180px;
    left: 10px;
  }
  #group1 .jpeg{
    position: relative;
    top: 162px;
    left: 10px;
  }
  #group1 .mars{
    position: relative;

    left: 700px;
  }
  #group1 .marsImage{
    position: relative;
    top: 500px;
    left: 700px;
  }
  
  #group1 .saturnImage{
    position: relative;
    top: 799px;
    left: 100px;
  }
  #group1 #starFar1{
    position: relative;
    top: 800px;
    left: 228px;
  }
  #group1 #starFar2{
    position: relative;
    top: 900px;
    left: 1000px;
  }
  #group1 #starFar3{
    position: relative;
    top: 1108px;
    left: 881px;
  }
  #group1 #starFar4{
    position: relative;
    top: 1183px;
    left: 50px;
  }
  #group1 #starFar5{
    position: relative;
    top: 1300px;
    left: 300px;
  }
  #group1 #starFar6{
    position: relative;
    top: 970px;
    left: 568px;
  }
  #group1 #starFar7{
    position: relative;
    top: 1000px;
    left: 250px;
  }
  #group1 #starFar8{
    position: relative;
    top: 725px;
    left: 1000px;
  }
  #group1 #starFar9{
    position: relative;
    top: 1250px;
    left: 1000px;
  }
  #group1 #starFar10{
    position: relative;
    top: 1250px;
    left: 740px;
  }
  #group1 #starFar11{
    position: relative;
    top: 1400px;
    left: 600px;
  }
  #group1 #starFar12{
    position: relative;
    top: 1500px;
    left: 100px;
  }
  #group1 #starFar13 {
    position: relative;
    top: 1442px;
    left: 798px;
  }
  #group1 #starFar14 {
    position: relative;
    top: 1600px;
    right: 100px;
  }
  #group1 #starFar15 {
    position: relative;
    top: 1608px;
    left: 412px;
  }
  #group1 #starFar16 {
    position: relative;
    top: 1695px;
    left: 798px;
  }
  #group1 #starFar17 {
    position: relative;
    top: 1675px;
    left: 200px;
  }

  #group1 .starsClose1 {
    position: relative;
    top: -15000px;
  }
  #group1 .starsClose2 {
    position: relative;
    top: 0px !important;
  }
  #group1 #starClose1{
    position: relative;
    top: 800px;
    left: 228px;
  }
  #group1 #starClose2{
    position: relative;
    top: 900px;
    left: 1000px;
  }
  #group1 #starClose3{
    position: relative;
    top: 1108px;
    left: 881px;
  }
  #group1 #starClose4{
    position: relative;
    top: 1183px;
    left: 50px;
  }
  #group1 #starClose5{
    position: relative;
    top: 1300px;
    left: 300px;
  }
  #group1 #starClose6{
    position: relative;
    top: 970px;
    left: 568px;
  }
  #group1 #starClose7{
    position: relative;
    top: 1000px;
    left: 250px;
  }
  #group1 #starClose8{
    position: relative;
    top: 725px;
    left: 1000px;
  }
  #group1 #starClose9{
    position: relative;
    top: 1250px;
    left: 1000px;
  }
  #group1 #starClose10{
    position: relative;
    top: 1250px;
    left: 740px;
  }
  #group1 #starClose11{
    position: relative;
    top: 1400px;
    left: 600px;
  }
  #group1 #starClose12{
    position: relative;
    top: 1500px;
    left: 100px;
  }
  #group1 #starClose13 {
    position: relative;
    top: 1442px;
    left: 798px;
  }
  #group1 #starClose14 {
    position: relative;
    top: 1600px;
    right: 100px;
  }
  #group1 #starClose15 {
    position: relative;
    top: 1608px;
    left: 412px;
  }
  #group1 #starClose16 {
    position: relative;
    top: 1695px;
    left: 798px;
  }
  #group1 #starClose17 {
    position: relative;
    top: 1675px;
    left: 200px;
  }

  /* misc
  --------------------------------------------- */
  
</style>

<script>



  $(window).load(function() {
     $(".showPage").show();
     $('.loading').hide();

     $(".showPage").click(function(){
       $('#loading').hide();

       $(".parallax").show();
       $(".topTitle").show();
       
     })
  });

var ani = false

  $(window).keypress(function(event){
    event.preventDefault();

    if ((event.keyCode === 0 && ani === true) || (event.keyCode === 32 && ani === true)) {
      ani = false
      $('.parallax').stop()
    }else if ((event.keyCode === 0 && ani === false) || (event.keyCode === 32 && ani === false)) {
      ani = true
      
      $('.parallax').stop().animate({
        scrollTop: $(".parallax")[0].scrollHeight
      }, (($(".parallax")[0].scrollHeight-$(".parallax").scrollTop())/1000)*1000)
    }
  })
  
  

</script>



