<div id="loading">
    <div class="loadingTitle">
      <p><h1> Welcome To This Webpage </h1></p>
      <p class="loading"> Loading... (this may take a couple seconds) </p>
      <p><button class="showPage" style="display:none;" height="40px" width="70px">Show Page</button></p>
    </div>
    <div class="spaceBar">
      <h2><p class="spaceName"><b>Space</b></p></h2>
      <h3><p class="firstInstructions">Press Spacebar to autoscroll animation<p></h3>
      <img src="/assets/spaceBar.png"  height="75px" width="375px">
      <h3><p class="secondInstructions">Press again to pause animation<p></h3>

    </div>
  </div>